* {
  box-sizing: border-box;
}

body {
  background: url("../img/bg-desktop.svg"),
            hsl(257, 40%, 49%);
  background-size: cover;
  color: white;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  height: 100vh;
  width: 1280px;
  margin: auto;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-flow: column nowrap;
}

header {
  align-items: center;
  flex: 0 1 20%;
}

.middle {
  flex: 1 1 60%;
}

.middle-left {
  flex: 1 1 60%;
}

.middle-right {
  flex: 1 1 40%;
  padding-top: 25px;
}

.middle-right h1 {
  font-size: 2.25rem;
}

.middle-right p {
  font-size: 1.1rem;
  padding-bottom: 15px;
}

[type="button"] {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border: 0;
  -webkit-box-shadow: 0px 3px 10px hsla(0, 0%, 0%, 0.5);
  -moz-box-shadow: 0px 3px 10px hsla(0, 0%, 0%, 0.5);
  box-shadow: 0px 3px 10px hsla(0, 0%, 0%, 0.5);
  font-family: Arial;
  color: #674BAF;
  font-size: 18px;
  background: #ffffff;
  padding: 18px 72px 18px 72px;
  text-decoration: none;
}

[type="button"]:hover {
  background: #d4d4d4;
  text-decoration: none;
}

footer {
  flex: 0 1 20%;
  justify-content: flex-end;
}

footer .social {
  flex: 0 1 5%;
  height: 32px;
}